body{
background-color:black;
font-family:arial;
color:white
}




/* classes */
.watermark{
  color: silver;
  transform: rotate(-35deg);
  font-size:4rem;
  opacity:0.2;
  position: absolute;
   left: 0px;
   top: 50px;
   z-index: -1;



  font-family: verdana;
}
.main_div{
text-align: center;
background-color: white;
color: black;
width: 550px;
height: 450px;
padding: 20px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
position: absolute;
 left: 400px;
 top: 30px;
 z-index: -2;



}
.tab{
  margin-left: auto;
  margin-right: auto;
  text-align: left;



}
.tdscpase{
padding-left: 40px;
padding-bottom: 20px;
}


.title{
  color: grey;
  font-family:verdana;
  margin-bottom: 50px;
}


/* Id */

#space{
 position: static;
 margin-right:150px;
}

#demo{
  position:absolute;
  margin-left:140px;
  top:180px;

}

#demo1{
  position:absolute;
  margin-left:180px;
  top:180px;

}

#result{
text-align: left;
position:fixed;
margin-left: 130px;

}

#fot{
  color:black;
  text-align: left;
  position: relative;
  margin: 400px 450px 75px;
  padding: 2px;

}
